/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*:root element is html*/
:root {
    /* Color Schemes ***********/
    --color-dark-blue: rgb(0, 24, 78);
    --color-purple: rgb(98, 85, 165);
    --color-green: rgb(132, 209, 159);
    --color-white: rgb(255, 255,255);

    /* Breakpoints just for reference ***********/
    /*320px - 480px: Mobile devices*/
    /*481px - 768px: iPads, Tablets*/
    /*769px - 1024px: Small screens, laptops*/
    /*1025px - 1200px: Desktops, large screens*/
    /*1201px and more, Extra large screens, TV*/

    /* Fonts ***********/
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;

    /*General ***********/
    overflow-x: hidden;
}

/*Reusable CSS rules*/
* {
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
}

/*.container contains pages content*/
.container {

}

.header-section {
    background-color: var(--color-white);
    height: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.main-section {
    background-color: var(--color-purple);
    color: var(--color-white);
    height: 1500px;
}

.footer-section {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    height: 500px;
}

